
    <footer class="footer">
      <div class="container footer__container">
        <div class="footer__col">
          <h3>Lux&Co</h3>
          <p>
            Lux  es un sitio web de reserva de hoteles de primera categoría 
            que ofrece una forma fácil y conveniente de encontrar y reservar alojamientos
             en todo el mundo.
          </p>
          <p>
            Con una interfaz amigable para el usuario y una amplia selección de hoteles, 
            Lux tiene como objetivo proporcionar una experiencia inigualable.
          </p>
        </div>
        <div class="footer__col">
            <h4>Empresa</h4>
            <p>Sobre Nosotros</p>
            <p>Nuestro Equipo</p>
            <p>Blog</p>
            <p>Reservar</p>
            <p>Contacto</p>
        </div>
        <div class="footer__col">
            <h4>Legal</h4>
            <p>Preguntas Frecuentes</p>
            <p>Términos y Condiciones</p>
            <p>Política de Privacidad</p>
        </div>
        <div class="footer__col">
            <h4>Recursos</h4>
            <p>Redes Sociales</p>
            <p>Centro de Ayuda</p>
            <p>Asociaciones</p>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2023 Web Hotel de Lux. All rights reserved.
      </div>
    </footer>