{% extends "base.html" %}

{% block title %}Examen final BD hotel{% endblock %}

{% block content %}
<div class="container div__container">
  <div class="image">
    <div class="content">
      <h1>Disfruta de tus Vacaciones de Ensueño</h1>
      <p>Reserva Hoteles, Vuelos y paquetes de estadía al precio más bajo.</p>
    </div>
    <div class="barra">
      <form>
        <div class="form">
          <div class="input">
            <input type="text" />
            <label>Ubicación</label>
          </div>
          <p>¿Dónde vas?</p>
        </div>
        <div class="form">
          <div class="input">
            <input type="text" />
            <label>Entrada</label>
          </div>
          <p>Agregar fecha</p>
        </div>
        <div class="form">
          <div class="input">
            <input type="text" />
            <label>Salida</label>
          </div>
          <p>Agregar fecha</p>
        </div>
        <div class="form">
          <div class="input">
            <input type="text" />
            <label>Huéspedes</label>
          </div>
          <p>Agregar huéspedes</p>
        </div>
      </form>
      <button class="btn"><i class="ri-search-line"></i></button>
    </div>
  </div>
</div>
{% endblock %}
